<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         failOnRisky="true"
         failOnWarning="true"
         executionOrder="random"
         cacheResult="true"
         beStrictAboutTestsThatDoNotTestAnything="true">

  <extensions>
    <bootstrap class="Qameta\Allure\PHPUnit\AllureExtension">
      <parameter name="config" value="Config/allure.config.php"/>
    </bootstrap>
  </extensions>

  <testsuites>
    <testsuite name="Testes do Projeto">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

</phpunit>