@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background-image: url('../View/img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_inicial{
    margin-top: 5%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.0rem;
}

figure img{
    width: 14.6rem;
    height: 14.6rem;
}

h1{
    text-align: center;
    font-family: 'Battambang';
    font-size: 6.0rem;
    color: white;
    width: 90.0rem;
    font-weight: 900;
}

span{
    color: #FF530F;
}

.buttons{
    margin-top: 4.0rem;
    display: flex;
    flex-direction: column;
    gap: 6.0rem;
}

.login{
    width: 50.6rem;
    height: 7.4rem;
    font-family: 'Battambang';
    font-size: 3.0rem;
    color: white;
    border: none;
    background: none;
    border: 1px solid #479F91;
    cursor: pointer;
    border-radius: 0.5rem;
}

.cadastro{
    width: 50.6rem;
    height: 7.4rem;
    font-family: 'Battambang';
    font-size: 3.0rem;
    color: white;
    background-color: #034454;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}